*{
    margin: 0;
    padding: 0;
}



/* Header */
.header{
    height: 7vh auto;
    width: 100%-3px;
    border: 3px solid black;
    background-color: dimgray;
    display: flex;
    justify-content: space-between;
}
.logo{
    margin: auto 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    font-size: xx-large;
    margin-bottom: 5px;
}



/* Navigation */
.navigation{
    margin-top: 20px;
    margin-right: 50px;
}
.navLink{
    font-size: larger;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    margin: 20px;
    margin-bottom: 5px;
    transition: .15s linear;
}
.navLink:hover{
    color: rgba(255, 255, 255, 0.712);
}




/* Main part */
.mainCont{
    width: 100%;
    max-height: auto;
    display: flex;
}
/* Left Side */
.leftSide{
    margin: 0;
    height: 93vh;
    width: 50%;
}
.topic{
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    margin: 10px;
}
.textLeft{
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
}




/* Cards */
.cardPanel {

    display: flex;
    flex-wrap: wrap; 
}
.card{
    height: 200px;
    width: 290px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: 2px solid black;
}
.cardH{
    font-size: larger;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    color: #fff;
    position: relative;
    top: 20%;
    left: 5%;
}
.cardHeader{
    height: 6vh;
    background-color: dimgray;
}
.cardContent {
    height: 94vh;
    width: 100%;
}




/* -------Right Side-------*/
.rightSide{
    margin: 0;
    height: 93vh;
    width: 50%;
}
.rightContent {
    height: 70%;
    width: 98%;
    border: 3px solid black;
    box-sizing: border-box;
    background-color: dimgray;
    margin: 12px;
}
.rightText {
    color: white;
    margin: 10px;
    padding: 1%;
}




/* Media for all */
@media(max-width: 501px ) {
    /* Header*/
    .header{
        min-height: auto;
        width: 100%;
        border: 3px solid black;
        background-color: dimgray;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }
    .topic, .textLeft{
        margin-left: 5%;
        margin-right: 5%;
    }





    /* Navigation panel */
    .navigation{
        display: flex;
        flex-direction: column;
    }
    .logo{
        margin: auto 10px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #fff;
        font-size: 18px;
        padding: 5% 3%; 
    }
    .navLink{
        font-size: 14px;
        font-weight: 600;
        text-decoration: none;
        color: #000;
        transition: .15s linear;
    }
    .navLink{
        font-size: 14px;
        color:white;
        margin: 10px;
        width: 100%-2px;
        padding: 3%;
        padding-left: 25px;
        /* border: 1px solid wheat; */
    }
    .navigation a{
        margin: 0%;
    }
    .navigation{
        margin: 0;
    }



    /* Main container */
    .mainCont{
        max-height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .leftSide{
        height: auto;
        width: auto;
    }
    .rightSide{
        height: auto;
        width: auto;
    }
    .rightContent {
        min-height: 35vh;
        width: 90%;
        border: 2px solid black;
        background-color: dimgray;
        margin: 5%;
        margin-top: 6%;
        box-sizing: border-box;
    }

    
    /* Cards */
    .cardPanel {
        display: flex;
        flex-direction: column;
    }
    .card{
        height: 200px;
        width: 90%;
        margin: 5%;
        margin-bottom: 0;
        border: 2px solid black;
        box-sizing: border-box;
    }
    
}
