*{
    margin: 0;
    padding: 0;
}
.header{
    height: 7vh;
    width: 100%-3px;
    border: 3px solid black;
    background-color: dimgray;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.logo{
    margin: auto 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    font-size: xx-large;
}
.navigation{
    margin-top: 20px;
    margin-right: 50px;
}
.navLink{
    font-size: larger;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    margin: 20px;
    transition: .15s linear;
}
.navLink:hover{
    color: rgba(255, 255, 255, 0.712);
}
/* -------Main part------ */
.mainCont{
    height: 93vh;
    width: 100%;
    display: flex;
}
/* --------Left Side-------- */
.leftSide{
    margin: 0;
    height: 93vh;
    width: 50%;
    background-color: rgb(224, 206, 178);
}
.topic{
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    margin: 10px;
}
.textLeft{
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.cardPanel {
    display: flex;
    flex-wrap: wrap; 
}
.card{
    height: 200px;
    width: 290px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: 2px solid black;
}
.cardH{
    font-size: larger;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    color: #fff;
    position: relative;
    top: 5px;
    left: 5px;
}
.cardHeader{
    height: 6vh;
    background-color: dimgray;
}
/* -------Right Side-------*/
.rightSide{
    margin: 0;
    height: 93vh;
    width: 50%;
}
